In [2]:
import sqlite3

In [4]:
-- Monthly Sales Trend Analysis
SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month,
    SUM(amount) AS total_revenue,
    COUNT(DISTINCT order_id) AS order_volume
FROM
    online_sales
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date)
ORDER BY
    year,
    month;

SyntaxError: invalid syntax (ipython-input-4-1446712912.py, line 1)

In [5]:
WHERE EXTRACT(YEAR FROM order_date) = 2024

SyntaxError: invalid syntax (ipython-input-5-1909636887.py, line 1)

In [6]:
-- Filtered for year 2024
SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month,
    SUM(amount) AS total_revenue,
    COUNT(DISTINCT order_id) AS order_volume
FROM
    online_sales
WHERE
    EXTRACT(YEAR FROM order_date) = 2024
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date)
ORDER BY
    year,
    month;

SyntaxError: invalid syntax (ipython-input-6-2635396166.py, line 1)

In [7]:
### üÖ∞Ô∏è a. Extract the month from the order date.
Edit
SELECT
    EXTRACT(MONTH FROM order_date) AS month
FROM
    online_sales;

IndentationError: unexpected indent (ipython-input-7-1106302201.py, line 4)

In [8]:
### üÖ±Ô∏è b. Extract the year from the order date.
SELECT
    EXTRACT(YEAR FROM order_date) AS year
FROM
    online_sales;

IndentationError: unexpected indent (ipython-input-8-3667035736.py, line 3)

In [9]:
### üÖ≤ c. Group the data by year and month.
SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month
FROM
    online_sales
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date);

IndentationError: unexpected indent (ipython-input-9-3870147903.py, line 3)

In [10]:
### üÖ≥ d. Calculate the total revenue per month.
SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month,
    SUM(amount) AS total_revenue
FROM
    online_sales
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date);

IndentationError: unexpected indent (ipython-input-10-1646734535.py, line 3)

In [11]:
### üÖ¥ e. Calculate the order volume (distinct order count) per month.
SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month,
    COUNT(DISTINCT order_id) AS order_volume
FROM
    online_sales
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date);

IndentationError: unexpected indent (ipython-input-11-1487802129.py, line 3)

In [12]:
### üÖµ f. Order the results by year and month (chronologically).

SELECT
    EXTRACT(YEAR FROM order_date) AS year,
    EXTRACT(MONTH FROM order_date) AS month,
    SUM(amount) AS total_revenue,
    COUNT(DISTINCT order_id) AS order_volume
FROM
    online_sales
GROUP BY
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date)
ORDER BY
    year,
    month;

IndentationError: unexpected indent (ipython-input-12-1710631590.py, line 4)